---
layout: default
permalink: /
---
{% if site.github.url %}
  {% assign url_base = site.github.url %}
{% else %}
  {% assign url_base = site.url %}
{% endif %}

<div id='frontpage'>
    <div class="row">
        <div class="col-xs-4">
            <img src="/assets/img/profile-pic.jpg" id="profile_pic" class="img-rounded flexible" style="max-width: 100%">
        </div>
        <div class="col-xs-8">
            <div id="title-enormous" class="jumbotron">
                <h1>David Eargle</h1>
                <p class="lead">Information Systems Management Researcher</p>
            </div>
            <div class="email-wrapper center" style="padding-bottom:13px;">
                <strong>{% include email-encoded.html %}</strong>
            </div>
            {% include contact-links.html %}
        </div>
    </div>
</div>
