---
---

// .content {
//
//   h2 {
//       margin-top: 3rem;
//   }
//
//   h3 {
//       margin-top: 2rem;
//   }
//
//   h4 {
//       margin-top: 1rem;
//   }
// }

.img-max {
  max-width: 500px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {

  .page-content & {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 2px solid white;
  }
}
